/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
	.col-user {
		min-height: 200px;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
	.col-user {
		min-height: 200px;
	}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
	.col-user {
		min-height: 200px;
	}
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
	.col-user {
		min-height: 200px;
	}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.col-user {
		min-height: 200px;
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
	.col-user {
		min-height: 280px;
	}
}