Hej {{ user.first_name }},<br/><br/>

Här kommer veckans möjligheter på Slottet.<br/><br/>

{% for user in users %}
	{% if user.community_need and user.community_contribute %}
	<strong><a href="mailto:{{ user.email }}?subject=Jag kan hjälpa dig med {{ user.community_need }}">{{ user }}</a></strong> bidrar med {{ user.community_contribute }} och behöver {{ user.community_need }}.<br/>
	<a href="mailto:{{ user.email }}?subject=Jag kan hjälpa dig med {{ user.community_need }}">{{ user.email }}</a>
	<br/><br/>
	{% endif %}
{% endfor %}
--
<br/><br/>
Detta möjlighetsbrev skickas ut varje måndag och <a href="{{ g.domain }}">skapas av medlemmarna på Slottet</a>. Se till att <a href="{{ g.domain }}/edit">uppdatera dina behov</a> tills nästa gång!
<br/><br/>
Slottsliga hälsningar,<br/>
Per
<br/><br/>
Ps. Är du utvecklare och vill bidra till appen kan du göra det <a href="https://github.com/Slottet/slottet-members">på Github</a>.